.container {
  position: absolute;
  z-index: 9;
}
.calculator {
  width: 360px;
  color: white;
  font-size: 30;
  background-color: rgba(128, 128, 128, 1);
  border-radius: 10px;
  cursor: move;
  z-index: 10;
}

.view-wrapper {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 8px;
  font-size: 52;
  height: 90px;
  border-radius: 10px;
  background-color: rgba(87, 81, 87, 1);
}
.large-font {
  font-size: 30;
}
.medium-font {
  font-size: 24;
}
.small-font {
  font-size: 16;
}

.wrapper {
  display: flex;
  position: relative;
}
.calculator-numbers {
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  height: 360px;
}
.button {
  color: white;
  background-color: rgba(128, 128, 128, 1);
  width: 90px;
  height: 90px;
  border-radius: 10px;
}
.double-btn {
  width: 180px;
}
button:active {
  background-color: rgb(187, 187, 187);
}
.btn-active {
  background-color: rgb(187, 187, 187);
}

.upper-functions .button {
  background-color: rgb(104, 104, 104);
}
.right-functions .button {
  background-color: rgb(242, 163, 60);
}
.upper-functions .button:active {
  background-color: rgb(172, 172, 172);
}
.right-functions .button:active {
  background-color: rgb(238, 190, 127);
}
.upper-functions .button.btn-active {
  background-color: rgb(172, 172, 172);
}
.right-functions .button.btn-active {
  background-color: rgb(238, 190, 127);
}

.lowerBtnsWrapper {
  display: flex;
  justify-content: space-between;
  width: 270px;
}

.upper-functions {
  display: flex;
}
.right-functions {
  position: absolute;
  left: 270px;
  top: 0px;
}
