<div class="container">
  <div class="calculator" draggable="true">
    <div class="view-wrapper">
      <span class="calculator-first-number">0</span>
      <span class="calculator-sign"></span>
      <span class="calculator-second-number"></span>
    </div>

    <div class="wrapper">
      <div class="calculator-functions">
        <div class="upper-functions">
          <div class="btn-wrapper">
            <button class="button" type="button" data-action="AC">AC</button>
          </div>
          <div class="btn-wrapper">
            <button class="button" type="button" data-action="AC">+/-</button>
          </div>
          <div class="btn-wrapper">
            <button class="button" type="button" data-action="AC">%</button>
          </div>
        </div>
        <div class="right-functions">
          <div class="btn-wrapper">
            <button class="button" type="button" data-action="AC">/</button>
          </div>
          <div class="btn-wrapper">
            <button class="button" type="button" data-action="AC">*</button>
          </div>
          <div class="btn-wrapper">
            <button class="button" type="button" data-action="AC">-</button>
          </div>
          <div class="btn-wrapper">
            <button class="button" type="button" data-action="AC">+</button>
          </div>
          <div class="btn-wrapper">
            <button class="button" type="button" data-action="AC">=</button>
          </div>
        </div>
      </div>
    </div>
    <div class="calculator-numbers">
      <div class="btn-wrapper">
        <button class="button" type="button" data-action="AC">7</button>
      </div>
      <div class="btn-wrapper">
        <button class="button" type="button" data-action="AC">8</button>
      </div>
      <div class="btn-wrapper">
        <button class="button" type="button" data-action="AC">9</button>
      </div>
      <div class="btn-wrapper">
        <button class="button" type="button" data-action="AC">4</button>
      </div>
      <div class="btn-wrapper">
        <button class="button" type="button" data-action="AC">5</button>
      </div>
      <div class="btn-wrapper">
        <button class="button" type="button" data-action="AC">6</button>
      </div>
      <div class="btn-wrapper">
        <button class="button" type="button" data-action="AC">1</button>
      </div>
      <div class="btn-wrapper">
        <button class="button" type="button" data-action="AC">2</button>
      </div>
      <div class="btn-wrapper">
        <button class="button" type="button" data-action="AC">3</button>
      </div>
      <div class="lowerBtnsWrapper">
        <div class="btn-wrapper">
          <button class="button zero-btn" type="button" data-action="AC">
            0
          </button>
        </div>
        <div class="btn-wrapper">
          <button class="button" type="button" data-action="AC">.</button>
        </div>
      </div>
    </div>
  </div>
</div>
